@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@import '@fontsource-variable/inter';
@import '@fontsource-variable/inter/wght-italic.css';
@theme {
	--font-sans:
		'InterVariable', 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	--color-main-50: var(--color-stone-50);
	--color-main-100: var(--color-stone-100);
	--color-main-200: var(--color-stone-200);
	--color-main-300: var(--color-stone-300);
	--color-main-400: var(--color-stone-400);
	--color-main-500: var(--color-stone-500);
	--color-main-600: var(--color-stone-600);
	--color-main-700: var(--color-stone-700);
	--color-main-800: var(--color-stone-800);
	--color-main-900: var(--color-stone-900);
	--color-main-950: var(--color-stone-950);

	--color-accent-50: var(--color-orange-50);
	--color-accent-100: var(--color-orange-100);
	--color-accent-200: var(--color-orange-200);
	--color-accent-300: var(--color-orange-300);
	--color-accent-400: var(--color-orange-400);
	--color-accent-500: var(--color-orange-500);
	--color-accent-600: var(--color-orange-600);
	--color-accent-700: var(--color-orange-700);
	--color-accent-800: var(--color-orange-800);
	--color-accent-900: var(--color-orange-900);
	--color-accent-950: var(--color-orange-950);
}
